body{
    margin: 0;
    font-size: 62.5%; /*px转换rem单位 （10/16）*100% */
}
span :hover{
    color: #5fc0cd;
}
.header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 4rem;
    background-color: #5fc0cd;
}
.icon-loc{
    position: absolute;
    top: 1.5rem;
    right: 0.2rem;
}
.icon-loc > img{
    width: 55%;
}
.btn-emp{
    position: relative;
    margin: 1rem auto 0 auto;
    padding-left: 1.1rem;
    width: 35%;
    font: 1.2rem/2.5rem "微软雅黑",serif;
    font-weight: lighter;
    color: white;
    background-color: #55a8b3;
    border-radius: 0.3rem;
}
.btn-nurse{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    text-align: center;
    font: 1.2rem/2.5rem "微软雅黑",serif;
    font-weight: lighter;
    color: #5fc0cd;
    background-color: white;
    border-radius: 0.3rem;
}
.listBar{
    margin-top: 4rem;
    width: 100%;
    height: 3rem;
    text-align: center;
    font: 1rem/3rem "微软雅黑",serif;
    color: #999999;
    border-bottom: 1px solid #e1e5e7;
}
.listSite{
    position: relative;
    float: left;
    padding-left: 0.5%;
    width: 32%;
    border-right: 1px solid #e1e5e7;
}
.listAvail{
    position: relative;
    float: left;
    width: 32%;
    border-right: 1px solid #e1e5e7;
}
.listCond{
    position: relative;
    float: left;
    width: 32%;
}
.icon-slc-site{
    position: absolute;
    top: 1.5rem;
    right: 0.5rem;
    width: 0;
    height: 0;
    border-top: 4px solid #afbac0;
    border-right: 4px solid transparent; /*使左 右 底部边为透明状态*/
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
}
.icon-slc-avail{
    position: absolute;
    top: 1.5rem;
    right: 0.5rem;
    width: 0;
    height: 0;
    border-top: 4px solid #afbac0;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
}
.icon-slc-cond{
    position: absolute;
    top: 1.5rem;
    right: 0.5rem;
    width: 0;
    height: 0;
    border-top: 4px solid #afbac0;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
}
ul{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}
li{
    padding: 1rem 0.2rem 1rem 2rem;
    height: 6rem;
    font: 1rem/3rem "微软雅黑",serif;
    color: white; /*字体颜色设置*/
    border-bottom: 1px solid #e1e5e7;
    box-sizing: border-box;
    background-color: black;
    background-image: url("images/sprite6-1.png");
    background-repeat: no-repeat;
}
.icon1{
    padding: 0 0 0 1.22rem;
    background-size: 100%;
    background-position: -28px -62px;
}
.icon1-date{
    position: relative;
    padding-left: 1.5rem;
}
.icon1-loc{
    position: relative;
    padding-left: 1.5rem;
}
